html-para,
html-heading {
  display: block;
  margin-top: 10px;
}

html-charrun {
  display: inline;
  white-space: pre-wrap;
}

html-listitem {
  list-style-type: decimal;
  display: list-item;
  margin-left: 40;
}

html-heading {
  font-size: 18pt;
}